*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   background-color: hsl(0deg, 0%,0%,10%);
}
header{
    margin-bottom: 2%;
}
.container{
    padding: 1%;
    z-index: 1;
}
.findBtn,.findMovie{
    width: 45%;
}
.findMovie{
    display: inline-block;
}
main{
    /* padding: 5%; */
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.movie{
    border: 1px solid lightgrey;
    width: 23%;
    height: 100%;
    box-shadow: -1px 0px 5px grey;
    margin: 0 0 2%;
    text-align: center;
    font-size: 14px;
    background-color: #fff;

}

.picture{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    border: none;
    width: 100%;
}
.title{
    background-color: lightgray;
    font-size: 16px;
    line-height: 30px;
    height: 30px; 
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.type{
    color: lightgray;
    font-size: 12px;
}
.moreDetails{
width: 100%;
margin: 0 auto;
}
.idMovie{
    display: none;
}

.modal{
    width: 100%;
    height: 100vh;
    padding: 5%;
    background-color: rgb(120 119 119 / 61%);
    z-index: 2;
    display: none;
    justify-content: space-around;
    border: 1px solid lightgray;

}
 .modalBody{
display: flex;
    justify-content: space-around;
    border: 1px solid lightgray;
    background-color: azure;
    padding: 1%;
    height: 620px;
} 
.modalPoster {
    width: 40%;
}
.modalPoster img{
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;

}
.modalInformation{
    width: 55%;
}
.modalInformation div{
    margin-bottom: 10px;
}
.modalTitle{
    width: 100%;
    background-color: lightgray;
padding: 1%;
text-align: center;
font-size: 26px;
}
.modalGenre{
font-size: 14px;
color: lightgray;
}
footer{
    display: none;
    justify-content: space-around;
    width: 20%;
    position: revert;
    bottom: 5%;
    /* left: 48%;
    text-align: center; */
margin: 3% auto;  
}
.currentPage{
    font-weight: bold;
    font-size: 18px;
}